
#youtube-video{
    display: flex;
    justify-content: center;
    align-items: center;
}

#js-code-1{
    background: url('jsCodeImg/index1.js.jpg') no-repeat center center;
    width: 100%;
    height: 50vw;
    /* border: 2px solid red; */
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.87); 
}

#js-code-2{
    background: url('jsCodeImg/index2.js.jpg') no-repeat center center;
    width: 100%;
    height: 50vw;
    /* border: 2px solid red; */
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.87); 
}
#css-code-1{
    background: url('cssCodeImg/style1.css.jpg') no-repeat center center;
    width: 100%;
    height: 50vw;
    /* border: 2px solid red; */
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.87); 
}

#css-code-2{
    background: url('cssCodeImg/style2.css.jpg') no-repeat center center;
    width: 100%;
    height: 50vw;
    /* border: 2px solid red; */
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.87); 
}

#css-code-3{
    background: url('cssCodeImg/style3.css.jpg') no-repeat center center;
    width: 100%;
    height: 50vw;
    /* border: 2px solid red; */
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.87); 
}

#html-code-1 {

    background: url('htmlCodeImg/index.html.jpg') no-repeat center center;
    width: 100%;
    height: 50vw;
    /* border: 2px solid red; */
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.87);
}
#html-code-2 {
    background: url('htmlCodeImg/search1.html.jpg') no-repeat center center;
    width: 100%;
    height: 50vw;
    /* border: 2px solid red; */
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.87);
}
#html-code-3 {
    background: url('htmlCodeImg/search2.html.jpg') no-repeat center center;
    width: 100%;
    height: 50vw;
    /* border: 2px solid red; */
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.87);
}

.heading {

    text-align: center;
    text-transform: capitalize;
    font-family: 'Sedgwick Ave Display', cursive;
    padding-bottom: 2px;
    font-size: 4vw
    /* text-decoration: underline; */
    /* border-top: 2px solid green; */
}

.file {
    display: grid;
    grid-template-columns: 4fr 1fr .5fr;
 column-gap: 5px;
    list-style: none;
    padding: 5px 10px;
    

/*border: 1px solid red;*/
    background-color: black;
}
#special-file{
    grid-template-columns: 4fr 1fr;

}

.file h3 {
    font-family: 'Courier New', Courier, monospace;
    /*padding-left: 4px;*/
color: white;
    text-transform: capitalize;
    font-size: 2.581vw;
}
.file li{
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
   text-align: center;
   justify-content: center;
    cursor: pointer;
    background-color:crimson ;
}

.file a {
    text-decoration: none;
   font-weight: bold;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 1.613vw;
}
.file a:hover{
    color:lightblue;
    /* text-decoration: underline; */
}


.file button {
  
    background: none;
    border: none;
    border: 1px solid gray;
    background-color: rgba(128, 128, 128, 0.719);
    border: 1px solid black;
font-size: 1.075vw;
    cursor: pointer;
    border-radius: 5px;
}

.file button:hover {
    color: lightblue;
    background-color: black;
    border: none;

}

/*bottom*/
.bottom-item{
    display: flex;
    align-items: center;
    justify-content: center;
}
#bottom{
    /*border: 2px solid red;*/
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}
#bottom h1{
    /*border: 2px solid red;*/
text-align: center;
font-family: 'Rubik Iso', cursive;
font-size: 2.742vw;

}
#bottom p{
    /*border: 2px solid red;*/
font-family: 'Sedgwick Ave Display', cursive;
border-right: 1px solid black;
border-left: 1px solid black;
font-size: 1.5vw;


    
}
#social-link{
    /*border: 2px solid red;*/
justify-content:space-around;
/*padding: 20px;*/
}
#social-link img{
    width: 4.839vw;
    height: 4.839vw;

}
