#intro{
	font-size: 2vw;
	text-align: center;
font-family: 'Sedgwick Ave Display', cursive;
word-spacing: 10px;

}

#address{
	text-align: center;
	font-size: 2vw;
font-family: 'Julius Sans One', sans-serif;

}